<section class="section has-text-centered">
  <h1 class="title">Mes certifications</h1>
  <hr>
  <br>
  <br>
  <div class="columns">
    <div class="column ">
      <p class="heading"> Cisco CCNA 3 - 2021</p>
      <figure class="image is-128x128 badge">
        <img class="is-rounded " src="https://viacesinetacad.files.wordpress.com/2014/03/ccna_routerswitching_large.jpg">
      </figure>
    </div>
    <div class="column ">
      <p class="heading"> Cisco DevNet - 2022</p>
      <figure class="image is-128x128 badge">
        <img class="is-rounded " src="https://images.credly.com/images/e21e94f7-feec-4717-9687-ac150b213f64/Cisco_DevNetAsst_600.png">
      </figure>
    </div>
    <div class="column ">
      <p class="heading"> Cisco CyberOps - 2022</p>
      <figure class="image is-128x128 badge">
        <img class="is-rounded " src="https://images.credly.com/images/31459fb8-0734-4078-9175-dd1a6e56de4a/01_cyberops_associate_300.png">
      </figure>
    </div>
  </div>
</section>