
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<footer class="footer">
    <div class="content has-text-centered">
       <p class="heading">Me contacter</p>
        <br>
        <a href="mailto:lesauxkylian@gmail.com">
          <span class="icon-text">
            <span>Mail</span>
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/kylian-le-saux/">
          <span class="icon-text">
            <span> Linkedin</span>
            <span class="icon">
              <i class="fa-brands fa-linkedin"></i>
            </span>
          </span>
        </a>
        <br>
        <p class="heading">Copyright © Kylian LE SAUX 2022</p>
    </div>
  </footer>