<!-- https://stackoverflow.com/questions/73434861/transparent-navbar-with-bulma-css-not-working -->

<nav class="navbar is-transparent is-fixed-top fond-0">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-white">
                Kylian LE SAUX
            </a>
        </div>

        <div class="navbar-end ">
            <a class="navbar-item has-text-white">
                Accueil
            </a>
            <a class="navbar-item has-text-white">
                Compétences
            </a>
            <a class="navbar-item has-text-white">
                Réalisation
            </a>
        </div>
    </div>
</nav>