<nav class="navbar is-transparent is-fixed-top fond-0">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-white" href="/">
                Kylian LE SAUX
            </a>
        </div>

        <div class="navbar-end ">
            <a class="navbar-item has-text-white" href="/">
                Accueil
            </a>
            <a class="navbar-item has-text-white" href="/competences">
                Compétences
            </a>
            <a class="navbar-item has-text-white" href="/realisations">
                Réalisations
            </a>
        </div>
    </div>
</nav>