<section class="section mb-6">
    <h1 class="title has-text-centered">Mon parcours</h1>
    <hr>
    <br>
    <br>
    <div class="timeline is-centered mx-5 px-5">
      <header class="timeline-header">
        <!-- <span class="tag is-medium is-primary">Start</span> -->
      </header>
      <div class="timeline-item">
        <div class="timeline-marker point-blue"></div>
        <div class="timeline-content has-text-centered">
          <div class="columns mb-5">
            <div class="column">
              <p class="heading">Alternance Fonroche Lighting</p>
              <p class="heading">Poste : Administrateur Système et réseau</p>
            </div>
            <div class="columns is-centered is-vcentered">
              <figure class="image is-96x96">
                <img src="/img/fl.jpg" alt="Image">
              </figure>
            </div>
          </div>
  
          <p class="has-text-left">Deux années durant lesquelles j'ai développé et maintenu des applications. 
            J'ai travaillé sur le projet d'une application mobile à destination des clients de l'entreprise.
             Ainsi que sur la maintenance et le développement de nouvelles versions de l'application de suivi de production.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker point-blue">
        </div>
        <div class="timeline-content mx-5">
          <div class="columns mb-5  has-text-left">
            <div class="column is-three-quarters mr-5">
              <p class="heading ">Stage Cocoricom </p>
              <p class="heading ">Poste : Assistant transformation numérique</p>
            </div>
            <div class="columns is-centered is-vcentered">
              <figure class="image">
                <img src="/img/cocoricom.png" alt="Image">
              </figure>
            </div>
          </div>
  
          <p class="has-text-left">Deux années durant lesquelles j'ai développé et maintenu des applications. 
            J'ai travaillé sur le projet d'une application mobile à destination des clients de l'entreprise.
             Ainsi que sur la maintenance et le développement de nouvelles versions de l'application de suivi de production.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker point-blue">
        </div>
        <div class="timeline-content has-text-centered">
          <div class="columns mb-5 ">
            <div class="column ">
              <p class="heading">Intech </p>
              <p class="heading ">Filière Système d'Information</p>
            </div>
            <div class="columns is-centered is-vcentered">
              <figure class="image is-96x96">
                <img src="/img/aen.png" alt="Image">
              </figure>
            </div>
          </div>
  
          <p class="has-text-left">Deux années durant lesquelles j'ai développé et maintenu des applications. 
            J'ai travaillé sur le projet d'une application mobile à destination des clients de l'entreprise.
             Ainsi que sur la maintenance et le développement de nouvelles versions de l'application de suivi de production.</p>
        </div>
      </div>
      <header class="timeline-header">
        <!-- <span class="tag is-medium is-primary">End</span> -->
      </header>
    </div>
    
  </section>